#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.contact {
  padding-top: 100px;
  max-width: 800px;
  margin: 0 auto;
}

.contact-row {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  margin-bottom: 18px;
  font-size: 1.1rem;
  letter-spacing: 0.3px;
}

.icon {
  display: flex;
  align-items: center;
}

.custom-navbar {
  background-color: transparent !important;
  color: inherit;
}
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: inherit !important;
}

.navbar .nav-link {
  color: inherit;
  font-size: 2rem;
  transition: transform 0.2s ease;
}

.custom-navbar .nav-link:hover {
  color: inherit;
  transform: scale(1.25);
}
ul{
  list-style-type: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

footer {
  width: 100%;
  padding: 1.5rem;
  font-size: 0.8rem;
  opacity: 0.55;
}

footer p {
  text-align: center;
  margin: 0;
}

.dark-light-mode-button{
  display: flex;
  align-items: center;
  justify-content: center;

  background: none !important;
  color: inherit !important;
  border: none !important;

  padding: 0;
  margin: 0 2rem 0 0;

  font-family: inherit;
  font-size: 2rem;
  line-height: 1;
}

.dark-light-mode-button:hover,
.dark-light-mode-button:focus,
.dark-light-mode-button:active{
  background-color: inherit !important;
  color: inherit !important;
  border: 0px; 
  opacity: 0.8;
}

.blog-button{
  width: 300px;
  height: 80px;
  overflow: hidden;
  font-family: inherit;
}

.blog-button span{
  display: inline-block;
  transition: transform 0.2s ease;
  transform: scale(1); 
}

.blog-button:hover span{
  transform: scale(1.2);
}


main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;

  min-height: calc(100vh - 200px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
